.vs/**
x64/**
Debug/**
Release/**
lavaBRSARLib/x64/**
lavaBRSARLib/Debug/**
lavaBRSARLib/Release/**
lavaBRSARLib/Junk/**
lavaBRSARLib/filedump/**
lavaBRSARLib/*.spt
lavaBRSARLib/*.spd
lavaBRSARLib/*.dsp
lavaBRSARLib/*.wav
lavaBRSARLib/*.sawnd
lavaBRSARLib/*.brsar
lavaBRSARLib/*.bak
lavaBRSARLib/*.dat
lavaBRSARLib/*.txt

lavaBRSARLibCLI/x64/**
lavaBRSARLibCLI/Debug/**
lavaBRSARLibCLI/Release/**
lavaBRSARLibCLI/Junk/**
lavaBRSARLibCLI/filedump/**
lavaBRSARLibCLI/*.spt
lavaBRSARLibCLI/*.spd
lavaBRSARLibCLI/*.dsp
lavaBRSARLibCLI/*.wav
lavaBRSARLibCLI/*.sawnd
lavaBRSARLibCLI/*.brsar
lavaBRSARLibCLI/*.bak
lavaBRSARLibCLI/*.dat
lavaBRSARLibCLI/*.txt
!**/.gitkeep
